body {
    font-family: arial;
}

#clients,
#groups,
#center {
    border: solid 1px;
    padding: 0px 30px;
    color: white;
}

.section span {
    padding: 1px;
    font-weight: bold;
}

div.section {
    background: #58B4DF;
    border: solid 1px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px grey;
}

.section div {
    padding: 1px;
    background: white;
    color: black;
}

div.account {
    display: none;
    font-size: 13px;
}

.account span,
.account input {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid;
    min-width: 185px;
}

.account input {
    background: white;
    width: 50px;
    min-width: 50px;
    text-align: right;
}

hr {
   margin : 1px;
   display: none;
}

#errors {
    color: red; 
}

.expand {
    background: black;
    color: white;
    width: 20px;
    height: 20px;
    font-weight: bolder;
    margin-right: 10px;
}

.localStorage span {
    background: green;
    border: 1px solid #000000;
    white-space: nowrap;
    width: 300px;
    display: inline-block;
    padding: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.localStorage span.val {
   background: yellow;
   cursor: pointer;
}

span.smallText {
    white-space: inherit;
    width: 100%;
}

span.due {
    color: red;
    font-weight: normal;
    font-size: small;
    border: 0px;
    margin: 0px;
    padding: 0px
}

span.due span {
    min-width: 0px;
    border: 0px;
    padding: 0px;
}

div.redStatus,
div.yellowStatus,
div.greenStatus {
    background: red;
    width: 290px;
    padding: 3px;
    text-align: center;
    position: absolute;
    right: 0px;
    top: 0px;
}

div.yellowStatus {
    background: lightBlue;
}

div.greenStatus {
    background: lightGreen;
}

div#login {
   background: red;
}

div#loginDialog {
    background: lightBlue;
    position: absolute;
    right: 0px;
    top: 21px;
    width: 296px;
}

div#loginDialog input {
    display: block;
    border-radius: 5px;
    height: 25px;
    padding: 2px;
    margin: 5px;
    min-width: 130px;
}

div#centerList {
    background: lightBlue;
    padding: 5px;
    margin: 35px 0px 10px 0px;
}

div#centerList input {
    padding: 5px;
    margin-left: 10px;
}

div#debugTools input {
    padding: 2px;
    margin: 5px;
    position: relative;
}

div#debugTools {
    position: absolute;
    top: 0px;
}

div#heading {
}

div#heading div {
    margin: 5px;
    font-weight: bold;
}
